{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Habitats</h1>

    <a href="{{ path('app_habitat_new') }}" class="btn btn-primary">Créer un nouvelle habitat</a>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for habitat in habitats %}
            <tr>
                <td>{{ habitat.name }}</td>
                <td>{{ habitat.description }}</td>
                <td>
                    {% if habitat.image is not empty %}
                        {% for image in habitat.image %}
                            <img src="{{ asset('uploads/images/' ~ image) }}" alt="{{ habitat.name }}" width="100">
                        {% endfor %}
                        {% else %}
                            Pas d'image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_habitat_show', {'id': habitat.id}) }}">Afficher</a>
                    <a href="{{ path('app_habitat_edit', {'id': habitat.id}) }}" class="btn btn-warning">Éditer</a>
                    <form method="post" action="{{ path('app_habitat_delete', {'id': habitat.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette habitat?');" style="display:inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habitat.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
