{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Habitats</h1>
    {% for habitat in habitats | slice(0, 3) %}
    <div class="card mb-3 m-4">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="#"> <h3>{{ habitat.name }}</h3></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    {% for image in habitat.image %}
                        <img class="img-fluid rounded-3" src="{{ asset('uploads/images/' ~ image) }}" alt="{{ habitat.name }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <h1>Liste des Habitats</h1>

    <div id="habitats-list">
        {% for habitat in habitats %}
            <button class="habitat-button" data-habitat-id="{{ habitat.id }}">{{ habitat.name }}</button>
        {% endfor %}
    </div>

    <div id="animals-list">
        <!-- Les animaux seront affichés ici -->
    </div>
{% endblock body %}




