{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h1 class="text-center">Réinitialiser le mot de passe</h1>
    <div class="container mt-5 p-5 rounded-4 cadre">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card avis">
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
                        <div class="mb-3 position-relative">
                            {{ form_label(form.plainPassword) }}
                            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'id': 'plainPassword'}}) }}
                            {{ form_errors(form.plainPassword) }}
                            <span class="password-toggle" data-target="plainPassword">
                                <i class="far fa-eye"></i>
                            </span>
                        </div>
                        <div class="mb-3 position-relative">
                            {{ form_label(form.confirmPassword) }}
                            {{ form_widget(form.confirmPassword, {'attr': {'class': 'form-control', 'id': 'confirmPassword'}}) }}
                            {{ form_errors(form.confirmPassword) }}
                            <span class="password-toggle" data-target="confirmPassword">
                                <i class="far fa-eye"></i>
                            </span>
                        </div>
                        <button class="btn btn-success mt-3">Réinitialiser le mot de passe</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-8 text-center">
                <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/toggle_password.js') }}?{{ "now"|date("U") }}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}
