{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card m-2 avis mt-xxl-5 text-center form-control">
            <h1 class="mt-4">Contactez-nous</h1>
            {{ form_start(form) }}
            <div class="card-header">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control mx-auto', 'style': 'max-width: 400px;' }}) }}
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control mx-auto', 'style': 'max-width: 400px;' }}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control mx-auto', 'style': 'max-width: 400px;' }}) }}
                </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="card m-2 avis mt-xxl-5">
            <div class="card-body">
                <div id="map" style="height: 400px;"></div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/localisation.js') }}?${{ "now"|date("U") }}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
{% endblock %}
