{% extends 'base.html.twig' %}

{% block title %}Modifier le Rapport Vétérinaire{% endblock %}

{% block body %}
    <h1>Modifier le Rapport Vétérinaire</h1>
    {{ form_start(form) }}
    {{ form_row(form.report_date) }}
    {{ form_row(form.health_status) }}
    {{ form_row(form.detail) }}
    {{ form_row(form.animal_id) }}
    {{ form_row(form.user_id) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(form) }}
    <a href="{{ path('app_veterinary_report_index') }}">Retour à la liste</a>
{% endblock %}
