{% extends 'base.html.twig' %}

{% block title %}Modifier le Rapport Vétérinaire{% endblock %}

{% block body %}
    <h1>Modifier le Rapport Vétérinaire</h1>
    {{ form_start(form) }}
    {{ form_row(form.reportDate) }}
    {{ form_row(form.healthStatus) }}
    {{ form_row(form.notes) }}
    {{ form_row(form.animal) }}
    {{ form_row(form.user) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(form) }}
    <a href="{{ path('app_veterinary_report_index') }}">Retour à la liste</a>
{% endblock %}
